/* BELOW 1344/ $width * 100vw (Smaller desktops) */
/****************************/
@media (max-width: 1344px) {
  $width: 1344;
}

/* BELOW 944/ $width * 100vw (Tablets) */
/**************************/

@media (max-width: 944px) {
  $width: 944;
}

/**************************/
/* BELOW 704/ $width * 100vw (Smaller tablets) */
/**************************/

@media (max-width: 704px) {
  $width: 704;
}

/**************************/
/* BELOW 544/ $width * 100vw (Phones) */
/**************************/

@media (max-width: 544px) {
  $width: 544;
}
