@import url("../styles/normalize.css");
@import url("../styles/queries.css");
html {
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 0.78125vw;
  color: #425466;
  background-color: #f5f5f5;
  font-weight: 300;
  line-height: 1.0416666667vw;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

ul,
li {
  list-style: none;
}

.telephone a {
  position: relative;
  background: url("../images/icons/Telephone.png") no-repeat left center;
  padding-left: 24px;
  font-weight: 600;
  font-size: 18px;
  color: #000;
  z-index: 230;
}
.telephone a:hover {
  filter: brightness(0.65);
  -webkit-filter: brightness(0.65);
}

.header__input, .header__lines {
  display: none;
}
.header__body {
  min-height: 90px;
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: clip;
}
.header__container {
  padding: 0 15px;
  max-width: 1192px;
  margin: 0 auto;
  background: none;
}
.header__logo {
  position: absolute;
  margin-left: 0;
  z-index: 120;
  align-items: center;
  height: 90px;
  min-width: 220px;
}
.header__menus {
  display: block;
  position: relative;
  top: auto;
  right: auto;
  padding-bottom: 0;
  background: none;
  height: 100%;
  padding-left: 0;
  overflow: visible;
}
.header nav {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header nav li {
  padding: 0;
  height: 100%;
}
.header nav::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 4000%;
  top: 0;
  left: -2000%;
}
.header nav:first-child {
  width: 100%;
  background: #0a2540;
}
.header nav:first-child::before {
  content: "";
  background: #0a2540;
}
.header nav:first-child a {
  color: #fff;
}
.header nav:last-child {
  width: 100%;
  background: #e4e4e6;
}
.header nav:last-child::before {
  content: "";
  background: #e4e4e6;
}
.header__top-menu {
  position: relative;
  min-height: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  z-index: 120;
}
.header__top-menu a {
  display: block;
  margin-right: 30px;
  font-size: 15px;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: 0.4s;
}
.header__top-menu a:hover {
  text-decoration-color: #fff;
}
.header__top-menu::after {
  content: "|";
}
.header .telephone {
  margin-left: 30px;
}
.header .telephone a {
  font-size: 18px;
  color: white;
  width: auto;
  height: auto;
}
.header__down-menu {
  position: relative;
  min-height: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  z-index: 120;
}
.header__down-menu a {
  margin-left: 30px;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  transition: 0.4s;
}
.header__down-menu a:hover {
  opacity: 0.5;
}
.header__down-menu > li:nth-of-type(1) > a {
  margin-left: 0;
}
.header__down-menu > li:nth-of-type(2) > a, .header__down-menu > li:nth-of-type(3) > a {
  font-weight: 600;
  color: #ee1c25;
}

.sub-menu {
  position: absolute;
  margin: 0;
  display: block;
  width: fit-content;
  text-align: left;
  border: none;
  padding: 15px;
  left: 250px;
  z-index: 140;
  background: #e4e4e6;
  transform: scale(0, 1);
  transition: 0.5s;
}
.sub-menu li {
  border-bottom: 1px solid rgba(10, 37, 64, 0.15);
}
.sub-menu a {
  color: #646464;
  margin: 0;
  line-height: 24px;
}

.menu-item-has-children::after {
  content: "";
  display: none;
}
.menu-item-has-children:hover > .sub-menu {
  transform: scale(1);
}
.menu-item-has-children > a {
  padding-right: 16px;
  background: url("../images/icons/SubMenu.png") no-repeat right center;
}

.first-screen__body {
  background-image: url("../images/OurSpecialists.jpg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
}
.first-screen__text {
  padding-top: 109px;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.5);
  width: 565px;
  margin-left: 375px;
}
.first-screen__text h1 {
  font-family: "Manrope", sans-serif;
  font-size: 50px;
  line-height: 64px;
  color: #0a2540;
  font-weight: 800;
}
.first-screen__text h2 {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  color: #12958b;
}

.btn {
  flex-shrink: 0;
  border: 1px solid #12958b;
  border-radius: 6px;
  overflow: hidden;
  text-align: center;
}
.btn a,
.btn button {
  display: block;
  width: 100%;
  height: 100%;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  transition: 0.7s;
}
.btn__primary > *, .btn__secondary > *:hover {
  background: #12958b;
  color: #f6f9fc;
}
.btn__primary > *:hover, .btn__secondary > * {
  background: #f6f9fc;
  color: #12958b;
  border-radius: 6px;
  border: none;
  outline: none;
}

.find-job {
  background: #f6f9fc;
}
.find-job .container {
  padding: 0;
}
.find-job__body {
  color: #0a2540;
  display: flex;
  justify-content: space-between;
}
.find-job__body h2 {
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  line-height: 33px;
  font-weight: 800;
  margin-bottom: 5px;
}
.find-job__body p {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 20px;
}
.find-job__body a {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
.find-job__left, .find-job__right {
  padding: 52px 15px 49px;
}
.find-job__left {
  margin-left: 350px;
}
.find-job__left form > * {
  margin-bottom: 15px;
  margin-right: 1px;
}
.find-job__input-city {
  background: #fff url("../images/icons/Geolocation.png") no-repeat center left 14px;
  width: 219px;
  height: 60px;
  border-radius: 6px;
  border: none;
  outline: none;
  cursor: pointer;
  padding-left: 33px;
  color: #a2a2a2;
}
.find-job__input-key {
  width: 248px;
  height: 60px;
  border-radius: 6px;
  padding-left: 33px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #a2a2a2;
}
.find-job .btn__secondary {
  width: 98px;
  height: 60px;
}
.find-job__details {
  margin-top: 15px;
}
.find-job__details a {
  color: #12958b;
  display: inline-block;
  padding-right: 20px;
}
.find-job__details a:hover {
  color: rgba(18, 149, 138, 0.537254902);
}
.find-job__right {
  color: #fff;
  background: #0a2540;
  padding-left: 65px;
  width: 910px;
  height: 300px;
  align-items: end;
}
.find-job .btn__primary {
  width: 162px;
  height: 60px;
}

.find-job form {
  display: flex;
  justify-content: space-between;
}

.container-medium {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0;
}

.content {
  background: #fff;
}
.content__posts {
  padding: 100px 0;
  display: grid;
  gap: 30px 30px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 570px));
  justify-content: center;
}

.post p {
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  margin-bottom: 18px;
}
.post strong {
  font-weight: 500;
  color: #12958b;
}
.post h2,
.post h3, .post__subtitle {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}
.post h2,
.post h3,
.post h4 {
  color: #0a2540;
}
.post h2 {
  font-size: 38px;
  line-height: 52px;
  margin-bottom: 30px;
  font-weight: 800;
}
.post h3 {
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 25px;
  font-weight: 800;
  letter-spacing: 0.7px;
}
.post h4 {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
.post__subtitle {
  font-size: 18px;
  line-height: 25px;
  color: #f2542d;
  margin-bottom: 30px;
}
.post__img {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.post__img--first, .post__img--second {
  height: 360px;
  flex-basis: 47.5%;
  border-radius: 6px;
  overflow: hidden;
}
.post__img--first {
  margin-top: 30px;
}
.post__img--second {
  margin-bottom: 30px;
}
.post__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.post__form {
  border-radius: 6px;
  border: 1px solid #12958b;
  padding: 53px 30px;
  height: 520px;
}
.post__form p {
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 10px;
}
.post__input-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 21px;
}
.post__input-group input {
  flex-basis: 50%;
  margin-bottom: 5px;
  height: 60px;
  width: 100%;
  border-radius: 6px;
  padding: 18px 17px 19px 37px;
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.1);
  color: #a1a1a1;
  font-size: 15px;
  line-height: 23px;
  font-weight: 300;
  border: none;
  outline: none;
  cursor: pointer;
}
.post__file {
  display: flex;
  max-width: 570px;
  margin-bottom: 40px;
}
.post__file label {
  min-width: 120px;
  display: block;
  height: 40px;
  padding: 8px 18px;
  border-radius: 6px;
  background: #969696;
  border: 1px solid #969696;
  text-align: center;
  font-weight: 400;
  line-height: 23px;
  color: #fff;
}
.post__file input[type=file] {
  display: none;
}
.post__file-title {
  max-width: 187px;
  font-size: 12px;
  line-height: 18px;
  margin-left: 10px;
}
.post__btn {
  display: flex;
  align-items: center;
}
.post__btn-title {
  font-size: 14px;
  line-height: 21px;
  margin-left: 25px;
}
.post__testimonials {
  background: #f6f9fc url("../images/icons/right-quote.png") no-repeat right 10px top 77px;
  padding: 40px;
}
.post__testimonials p {
  font-size: 16px;
  line-height: 24px;
  font-style: italic;
  font-weight: 300;
}
.post__position {
  margin-bottom: 10px;
  display: inline-flex;
  border-radius: 20px;
  background: #f2542d;
  padding: 5px 18px;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
}
.post__address {
  margin-bottom: 30px;
  color: #f2542d;
  background: url("../images/icons/Geolocation-orange.png") no-repeat center left;
  padding-left: 24px;
  font-size: 15px;
  line-height: 23px;
}

.container-medium {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0;
}

.footer {
  background: #0a2540;
  color: #adbdcc;
}
.footer a {
  color: #adbdcc;
}
.footer__widgets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 56px 0 50px;
}
.footer__widgets--first {
  margin: 0;
  text-align: left;
  padding-top: 0;
  max-width: 220px;
  font-size: 12px;
  text-align: center;
}
.footer__widgets--first__logo {
  max-height: 90px;
  margin-bottom: 27px;
}
.footer__widgets--first__logo img {
  height: 100%;
  object-fit: cover;
}
.footer__widgets--first .widget__body {
  padding-top: 30px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #425466;
  font-weight: 300;
  line-height: 20px;
}

.widget {
  flex-basis: auto;
}

.footer__column {
  max-width: 270px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__column:last-child {
  flex-grow: 100%;
}
.footer__copyright {
  padding-top: 10px;
  min-height: 40px;
  background: #161525;
  font-size: 12px;
  font-weight: 400;
}

.widget h2,
.widget h3 {
  margin-bottom: 15px;
  font-weight: 500;
  color: #fff;
}
.widget li {
  margin-bottom: 15px;
  font-size: 16px;
}
.widget__body {
  padding-top: 30px;
}
.widget__privacy {
  margin-top: 30px;
}
.widget__social {
  padding: 0 8px;
  align-self: flex-end;
  text-align: right;
  width: 100%;
}
.widget__social h4 {
  flex-grow: 100%;
  margin-bottom: 21px;
  font-weight: 300;
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.social__item {
  flex-shrink: 1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #646464;
  filter: grayscale(100%);
}
.social__item:hover {
  background: #1da1f2;
  filter: grayscale(1%);
}
.social__item img {
  display: block;
}

.telephone a {
  color: #fff;
}/*# sourceMappingURL=main.css.map */